<!DOCTYPE html>
<title>WissKI Viewer - Entity {{ .Entity.URI }}</title>
{{ template "head.html" . }}

<h1>{{ .Entity.URI }}</h1>
<p>
    <a href="/">Bundles</a> &gt;
    <a href="/bundle/{{ .Bundle.Group.ID }}">{{ .Bundle.Group.Name }}</a> &gt;
    <b>{{ .Entity.URI }}</b>
</p>

<h2>Fields</h2>
{{ template "table.html" .Entity }}

<h2>Sub Bundles</h2>
    {{ range $name, $values := .Entity.Children }}
    <h3>{{ $name }}</h3>
    {{ range $values }}
        {{ template "table.html" . }}
    {{ end }}
{{ end }}

<h3></h3>