{{ $globals := .Globals }}
{{ $entity := .Entity }}

<table class="entity_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Card</th>
            <th>Value(s)</th>
            <th>Triples</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5">
                <div class="showable" data-placeholder="Show Triples">
                    {{ template "viewer_render_triples.html" combine "Globals" $globals "Triples" $entity.Triples }}
                </div>
            </td>
        </tr>
    </tbody>
    <tbody>


        {{ range $field := .Bundle.Fields }}
        {{ $name := $field.ID }}
        {{ $values := index $entity.Fields $name }}
        
        {{ $l := len $values }}
        <tr>
            <td class="collapse" {{ if ne $l 0 }}rowspan="{{ $l }}" {{end}}>
                {{ $field.Name }}
            </td>
            <td class="collapse" {{ if ne $l 0 }}rowspan="{{ $l }}" {{end}}>
                {{ $field.FieldType }}
            </td>
            <td class="collapse" {{ if ne $l 0 }}rowspan="{{ $l }}" {{end}}>
                {{ $field.Cardinality }}
            </td>

        {{ if eq $l 0 }}
            <td colspan="3"></td>
        </tr>
        {{ end }}

        {{ range $i, $value := $values }}
        {{ if ne $i 0 }}
        <tr>
        {{ end }}
            <td>
                {{ template "viewer_render_value.html" combine "Globals" $globals "Field" $field "Value" $value }}
            </td>
            <td class="break">
                <div class="showable">
                    {{ template "viewer_render_triples.html" combine "Globals" $globals "Triples" $value.Triples }}
                </div>
            </td>
        </tr>
        {{ end }}
        {{ end }}
    </tbody>
</table>